.version.index {
    color: #000004;
    background-color: #08F0AA;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#page {
    background-color: transparent;
    margin-left: auto;
    border-width: 0px;
    background-image: none;
    min-height: 500px;
    border-color: transparent;
    margin-right: auto;
    z-index: 1;
}

#pu3572 {
    width: 0.01px;
    z-index: 67;
}

#u3572 {
    background-color: #053564;
    z-index: 67;
}

#u3572-bw {
    z-index: 67;
}

#u12037 {
    position: relative;
    opacity: 1;
    width: 117px;
    filter: alpha(opacity=100);
    z-index: 28;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    background: #FFFFFF url("../images/caja-gestion-a.svg?crc=495358563") no-repeat center top;
    background-size: contain;
}

.nosvg #u12037 {
    background-image: url('../images/caja-gestion-a_poster_u12780.png?crc=3987834981');
}

#buttonu12379 {
    background-color: #0061AE;
    width: 117px;
    border-radius: 10px;
    border-color: #787878;
    position: relative;
    z-index: 45;
}

#buttonu12379:hover {
    background-color: #36A9E1;
    width: 117px;
    min-height: 0px;
    margin: 0px;
}

#u12380-4 {
    text-align: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-right: -10000px;
    z-index: 46;
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 14px;
    font-size: 12px;
    color: #FFFFFF;
    position: relative;
    font-weight: bold;
}

#buttonu12379:hover #u12380-4 {
    margin-left: 0px;
    padding-bottom: 0px;
    margin-right: -10000px;
    padding-top: 0px;
    margin-bottom: 0px;
}

#buttonu12379:hover #u12380-4 p {
    visibility: inherit;
    color: #FFFFFF;
}

#buttonu12092 {
    background-color: #E7405A;
    width: 117px;
    padding-bottom: 9px;
    border-radius: 10px;
    height: 43px;
    border-color: #787878;
    position: relative;
    z-index: 29;
}

#buttonu12092:hover {
    background-color: #FF005A;
    margin-left: 0px;
    width: 117px;
    height: 43px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#buttonu12092.ButtonSelected {
    background-color: #C1272D;
    margin-left: 0px;
    width: 117px;
    height: 43px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#u12093-4 {
    text-align: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-right: -10000px;
    z-index: 30;
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 14px;
    font-size: 12px;
    color: #FFFFFF;
    position: relative;
    margin-top: 15px;
    font-weight: bold;
}

#buttonu12092:hover #u12093-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 15px -10000px 0px 0px;
}

#buttonu12092.ButtonSelected #u12093-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 15px -10000px 0px 0px;
}

#buttonu12379.ButtonSelected #u12380-4 p,#buttonu12092:hover #u12093-4 p {
    visibility: inherit;
    color: #FFFFFF;
}

#buttonu12401 {
    background-color: #0061AE;
    width: 117px;
    border-radius: 10px;
    border-color: #787878;
    position: relative;
    z-index: 50;
}

#buttonu12401:hover {
    background-color: #36A9E1;
    margin-left: 0px;
    width: 117px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#buttonu12401.ButtonSelected {
    background-color: #005285;
    margin-left: 0px;
    width: 117px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#u12402-4 {
    text-align: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-right: -10000px;
    z-index: 51;
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 14px;
    font-size: 12px;
    color: #FFFFFF;
    position: relative;
    font-weight: bold;
}

#buttonu12379.ButtonSelected #u12380-4,#buttonu12401:hover #u12402-4 {
    margin-left: 0px;
    padding-bottom: 0px;
    margin-right: -10000px;
    padding-top: 0px;
    margin-bottom: 0px;
}

#buttonu12092.ButtonSelected #u12093-4 p,#buttonu12401:hover #u12402-4 p {
    visibility: inherit;
    color: #FFFFFF;
}

#u11388 {
    position: relative;
    opacity: 1;
    width: 117px;
    filter: alpha(opacity=100);
    z-index: 6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    background: #FFFFFF url("../images/caja-gestion-b.svg?crc=242004375") no-repeat center top;
    background-size: contain;
}

.nosvg #u11388 {
    background-image: url('../images/caja-gestion-b_poster_u12798.png?crc=406372658');
}

#buttonu12580 {
    background-color: #0061AE;
    width: 117px;
    border-radius: 10px;
    border-color: #787878;
    position: relative;
    z-index: 62;
}

#buttonu12580:hover {
    background-color: #36A9E1;
    width: 117px;
    min-height: 0px;
    margin: 0px;
}

#buttonu12379.ButtonSelected,#buttonu12580.ButtonSelected {
    background-color: #005285;
    width: 117px;
    min-height: 0px;
    margin: 0px;
}

#u12581-4 {
    text-align: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-right: -10000px;
    z-index: 63;
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 14px;
    font-size: 12px;
    color: #FFFFFF;
    position: relative;
    font-weight: bold;
}

#buttonu12401.ButtonSelected #u12402-4,#buttonu12580:hover #u12581-4 {
    margin-left: 0px;
    padding-bottom: 0px;
    margin-right: -10000px;
    padding-top: 0px;
    margin-bottom: 0px;
}

#buttonu12401.ButtonSelected #u12402-4 p,#buttonu12580:hover #u12581-4 p {
    visibility: inherit;
    color: #FFFFFF;
}

#buttonu12508 {
    opacity: 1;
    border-radius: 10px;
    border-color: #787878;
    filter: alpha(opacity=100);
    z-index: 55;
    width: 117px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 52px;
    position: relative;
    background: #0061AE url("../images/play-store.svg?crc=374333347") no-repeat center center;
    background-size: cover;
}

#buttonu12508:hover {
    opacity: 1;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    filter: alpha(opacity=100);
    margin-left: 0px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 52px;
    width: 117px;
    background: #36A9E1 url("../images/play-store.svg?crc=374333347") no-repeat center center;
    background-size: cover;
}

#buttonu12508.ButtonSelected {
    opacity: 1;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    filter: alpha(opacity=100);
    margin-left: 0px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 52px;
    width: 117px;
    background: #005285 url("../images/play-store.svg?crc=374333347") no-repeat center center;
    background-size: cover;
}

.nosvg #buttonu12508,.nosvg #buttonu12508:hover,.nosvg #buttonu12508.ButtonSelected {
    background-image: url('../images/play-store_poster_u12519.png?crc=3960394199');
}

#buttonu12537 {
    opacity: 1;
    border-radius: 10px;
    border-color: #787878;
    filter: alpha(opacity=100);
    z-index: 56;
    width: 117px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 52px;
    position: relative;
    background: #0061AE url("../images/app-store.svg?crc=4193757914") no-repeat center center;
    background-size: cover;
}

#buttonu12537:hover {
    opacity: 1;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    filter: alpha(opacity=100);
    margin-left: 0px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 52px;
    width: 117px;
    background: #36A9E1 url("../images/app-store.svg?crc=4193757914") no-repeat center center;
    background-size: cover;
}

#buttonu12537.ButtonSelected {
    opacity: 1;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    filter: alpha(opacity=100);
    margin-left: 0px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 52px;
    width: 117px;
    background: #005285 url("../images/app-store.svg?crc=4193757914") no-repeat center center;
    background-size: cover;
}

.nosvg #buttonu12537,.nosvg #buttonu12537:hover,.nosvg #buttonu12537.ButtonSelected {
    background-image: url('../images/app-store_poster_u12543.png?crc=230346844');
}

#buttonu12599 {
    background-color: #E7405A;
    width: 117px;
    border-radius: 10px;
    border-color: #787878;
    position: relative;
    z-index: 34;
}

#buttonu12599:hover {
    background-color: #FF005A;
    margin-left: 0px;
    width: 117px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#buttonu12599.ButtonSelected {
    background-color: #C1272D;
    margin-left: 0px;
    width: 117px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#u12600-4 {
    text-align: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-right: -10000px;
    z-index: 35;
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 14px;
    font-size: 12px;
    color: #FFFFFF;
    position: relative;
    font-weight: bold;
}

#buttonu12580.ButtonSelected #u12581-4,#buttonu12599:hover #u12600-4 {
    margin-left: 0px;
    padding-bottom: 0px;
    margin-right: -10000px;
    padding-top: 0px;
    margin-bottom: 0px;
}

#buttonu12580.ButtonSelected #u12581-4 p,#buttonu12599:hover #u12600-4 p {
    visibility: inherit;
    color: #FFFFFF;
}

#u11326 {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 376px;
    position: relative;
    background: #FFFFFF url("../images/caja-gestion-c.svg?crc=4228124710") no-repeat center top;
    background-size: contain;
}

.nosvg #u11326 {
    background-image: url('../images/caja-gestion-c_poster_u12648.png?crc=3768689629');
}

#u11885 {
    opacity: 1;
    margin-right: -10000px;
    filter: alpha(opacity=100);
    z-index: 27;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    position: relative;
    background: transparent url("../images/flecha.svg?crc=4037324282") no-repeat center center;
    background-size: 21px 14px;
}

.nosvg #u11885 {
    background-image: url('../images/flecha_poster_u11889.png?crc=283223152');
}

#pbuttonu8154 {
    margin-right: -10000px;
    width: 0.01px;
    z-index: 7;
}

#buttonu8154 {
    background-color: #0061AE;
    width: 117px;
    border-radius: 10px;
    border-color: #787878;
    position: relative;
    z-index: 7;
}

#buttonu8154:hover {
    background-color: #36A9E1;
    width: 117px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#buttonu8154.ButtonSelected {
    background-color: #005285;
    width: 117px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#u8155-4 {
    text-align: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-right: -10000px;
    z-index: 8;
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 14px;
    font-size: 12px;
    color: #FFFFFF;
    position: relative;
    font-weight: bold;
}

#buttonu12599.ButtonSelected #u12600-4,#buttonu8154:hover #u8155-4 {
    margin-left: 0px;
    padding-bottom: 0px;
    margin-right: -10000px;
    padding-top: 0px;
    margin-bottom: 0px;
}

#buttonu12599.ButtonSelected #u12600-4 p,#buttonu8154:hover #u8155-4 p {
    visibility: inherit;
    color: #FFFFFF;
}

#buttonu11863 {
    background-color: #0061AE;
    width: 117px;
    margin-top: 18px;
    border-radius: 10px;
    border-color: #787878;
    position: relative;
    z-index: 17;
}

#buttonu11863:hover {
    background-color: #36A9E1;
    width: 117px;
    margin-top: 18px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#buttonu11863.ButtonSelected {
    background-color: #005285;
    width: 117px;
    margin-top: 18px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#u11864-4 {
    text-align: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-right: -10000px;
    z-index: 18;
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 14px;
    font-size: 12px;
    color: #FFFFFF;
    position: relative;
    font-weight: bold;
}

#buttonu8154.ButtonSelected #u8155-4,#buttonu11863:hover #u11864-4 {
    margin-left: 0px;
    padding-bottom: 0px;
    margin-right: -10000px;
    padding-top: 0px;
    margin-bottom: 0px;
}

#buttonu8154.ButtonSelected #u8155-4 p,#buttonu11863:hover #u11864-4 p {
    visibility: inherit;
    color: #FFFFFF;
}

#buttonu11874 {
    background-color: #0061AE;
    width: 117px;
    padding-bottom: 11px;
    border-radius: 10px;
    height: 41px;
    border-color: #787878;
    position: relative;
    z-index: 22;
}

#buttonu11874:hover {
    background-color: #36A9E1;
    width: 117px;
    height: 41px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#buttonu11874.ButtonSelected {
    background-color: #005285;
    width: 117px;
    height: 41px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#u11875-4 {
    text-align: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-right: -10000px;
    z-index: 23;
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 14px;
    font-size: 12px;
    color: #FFFFFF;
    position: relative;
    font-weight: bold;
}

#buttonu11863.ButtonSelected #u11864-4,#buttonu11874:hover #u11875-4 {
    margin-left: 0px;
    padding-bottom: 0px;
    margin-right: -10000px;
    padding-top: 0px;
    margin-bottom: 0px;
}

#buttonu11863.ButtonSelected #u11864-4 p,#buttonu11874:hover #u11875-4 p {
    visibility: inherit;
    color: #FFFFFF;
}

#u11851-4 {
    text-align: left;
    min-height: 22px;
    text-transform: uppercase;
    z-index: 13;
    background-color: transparent;
    line-height: 14px;
    font-size: 12px;
    color: #36A9E1;
    position: relative;
    font-weight: bold;
}

#u11851-4:hover {
    margin-left: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    min-height: 22px;
}

#u11851 {
    text-decoration: underline;
}

#buttonu12569 {
    background-color: #E7405A;
    width: 117px;
    border-radius: 10px;
    border-color: #787878;
    position: relative;
    z-index: 57;
}

#buttonu12569:hover {
    background-color: #FF005A;
    width: 117px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#buttonu12569.ButtonSelected {
    background-color: #C1272D;
    width: 117px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

#u12570-4 {
    text-align: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-right: -10000px;
    z-index: 58;
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 14px;
    font-size: 12px;
    color: #FFFFFF;
    position: relative;
    font-weight: bold;
}

#buttonu11874.ButtonSelected #u11875-4,#buttonu12569:hover #u12570-4 {
    margin-left: 0px;
    padding-bottom: 0px;
    margin-right: -10000px;
    padding-top: 0px;
    margin-bottom: 0px;
}

#buttonu12569.ButtonSelected #u12570-4 {
    margin-left: 0px;
    padding-bottom: 0px;
    margin-right: -10000px;
    padding-top: 0px;
    margin-bottom: 0px;
}

#buttonu11874.ButtonSelected #u11875-4 p,#buttonu12569:hover #u12570-4 p {
    visibility: inherit;
    color: #FFFFFF;
}

#buttonu12569.ButtonSelected #u12570-4 p {
    visibility: inherit;
    color: #FFFFFF;
}

#u12181-6 {
    text-align: center;
    text-transform: none;
    z-index: 39;
    background-color: transparent;
    line-height: 21px;
    font-size: 15px;
    color: #004677;
    position: relative;
    font-weight: bold;
}

#u12181-6:hover {
    padding-bottom: 0px;
    margin-right: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

#u11851-4:hover p,#u11851-4:hover span,#u12181-6:hover p {
    text-decoration: none;
}

#u11584 {
    width: 33px;
    height: 32px;
    position: relative;
    z-index: 3;
}

.ie #u11584 {
    background-color: #FFFFFF;
    opacity: 0.01;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

#u11276 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 2;
    background: #FFFFFF url("../images/franja-gob-footer.svg?crc=497289") no-repeat center top;
    background-size: cover;
}

.nosvg #u11276 {
    background-image: url('../images/franja-gob-footer_poster_u11556.png?crc=4037754457');
}

#u11276_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#u11276-bw {
    z-index: 2;
}

.html {
    background-color: #F2F6FC;
}

body {
    position: relative;
}

.verticalspacer {
    min-height: 1px;
}

@media (min-width: 976px), print {
    #muse_css_mq {
        background-color:#FFFFFF;
    }

    #bp_infinity.active {
        display: block;
    }

    #page {
        width: 975px;
    }

    #ppu3572 {
        z-index: 0;
        width: 0.01px;
        margin-right: -10000px;
        margin-left: -113px;
    }

    #u3572,#u3572-bw {
        height: 127px;
    }

    #u7380 {
        z-index: 68;
        height: 127px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        background: transparent url("../images/header-gestion-agenda.svg?crc=4160934606") no-repeat center center;
        background-size: 437px 122px;
    }

    .nosvg #u7380 {
        background-image: url('../images/header-gestion-agenda_poster_u12450.png?crc=123864251');
    }

    #u7380-bw {
        z-index: 68;
        height: 127px;
    }

    #u11430 {
        z-index: 12;
        width: 684px;
        height: 85px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        margin-left: 260px;
        margin-top: 21px;
        position: relative;
        background: transparent url("../images/titulo-cuerpo.svg?crc=157273373") no-repeat center center;
        background-size: contain;
    }

    .nosvg #u11430 {
        background-image: url('../images/titulo-cuerpo_poster_u11434.png?crc=139912426');
    }

    #pu12037 {
        z-index: 28;
        width: 0.01px;
        margin-left: 15px;
        margin-top: 17px;
    }

    #u12037 {
        margin-right: -10000px;
        padding: 182px 22px 19.100000000000023px 237px;
    }

    #buttonu12379 {
        height: 41px;
        padding-bottom: 11px;
    }

    #buttonu12379:hover {
        height: 41px;
    }

    #u12380-4 {
        width: 100px;
        min-height: 20px;
        margin-top: 21px;
        left: 8px;
    }

    #buttonu12379:hover #u12380-4 {
        margin-top: 21px;
        min-height: 20px;
        width: 100px;
    }

    #buttonu12092 {
        margin-top: 14px;
    }

    #buttonu12092:hover {
        margin-top: 14px;
    }

    #buttonu12092.ButtonSelected {
        margin-top: 14px;
    }

    #u12093-4 {
        width: 93px;
        min-height: 22px;
        left: 12px;
    }

    #buttonu12092:hover #u12093-4 {
        min-height: 22px;
        width: 93px;
    }

    #buttonu12092.ButtonSelected #u12093-4 {
        min-height: 22px;
        width: 93px;
    }

    #buttonu12401 {
        height: 41px;
        padding-bottom: 11px;
        margin-top: 86px;
    }

    #buttonu12401:hover {
        margin-top: 86px;
        height: 41px;
    }

    #buttonu12401.ButtonSelected {
        margin-top: 86px;
        height: 41px;
    }

    #u12402-4 {
        width: 100px;
        min-height: 20px;
        margin-top: 21px;
        left: 8px;
    }

    #buttonu12379.ButtonSelected #u12380-4,#buttonu12401:hover #u12402-4 {
        margin-top: 21px;
        min-height: 20px;
        width: 100px;
    }

    #u11388 {
        margin-right: -10000px;
        left: 397px;
        padding: 160px 22px 16.350000000000023px 237px;
    }

    #buttonu12580 {
        height: 41px;
        padding-bottom: 11px;
    }

    #buttonu12379.ButtonSelected,#buttonu12580:hover {
        height: 41px;
    }

    #buttonu12580.ButtonSelected {
        height: 41px;
    }

    #u12581-4 {
        width: 100px;
        min-height: 20px;
        margin-top: 21px;
        left: 8px;
    }

    #buttonu12401.ButtonSelected #u12402-4,#buttonu12580:hover #u12581-4 {
        margin-top: 21px;
        min-height: 20px;
        width: 100px;
    }

    #buttonu12508 {
        margin-top: 56px;
    }

    #buttonu12508:hover {
        margin-top: 56px;
    }

    #buttonu12508.ButtonSelected {
        margin-top: 56px;
    }

    #buttonu12537 {
        margin-top: 9px;
    }

    #buttonu12537:hover {
        margin-top: 9px;
    }

    #buttonu12537.ButtonSelected {
        margin-top: 9px;
    }

    #buttonu12599 {
        height: 33px;
        padding-bottom: 13px;
        margin-top: 8px;
    }

    #buttonu12599:hover {
        margin-top: 8px;
        height: 33px;
    }

    #buttonu12599.ButtonSelected {
        margin-top: 8px;
        height: 33px;
    }

    #u12600-4 {
        width: 93px;
        min-height: 15px;
        margin-top: 18px;
        left: 12px;
    }

    #buttonu12599:hover #u12600-4 {
        margin-top: 18px;
        min-height: 15px;
        width: 93px;
    }

    #buttonu12599.ButtonSelected #u12600-4 {
        margin-top: 18px;
        min-height: 15px;
        width: 93px;
    }

    #u11326 {
        padding-bottom: 24px;
        margin-right: -10000px;
        left: 793px;
    }

    #u11885 {
        width: 22px;
        height: 21px;
        margin-top: 349px;
        left: 82px;
    }

    #pbuttonu8154 {
        margin-top: 130px;
        margin-left: 114px;
    }

    #buttonu8154 {
        height: 41px;
        padding-bottom: 11px;
        margin-left: 127px;
    }

    #buttonu8154:hover {
        margin-left: 127px;
        height: 41px;
    }

    #u8155-4 {
        width: 100px;
        min-height: 20px;
        margin-top: 21px;
        left: 8px;
    }

    #buttonu12580.ButtonSelected #u12581-4,#buttonu8154:hover #u8155-4 {
        margin-top: 21px;
        min-height: 20px;
        width: 100px;
    }

    #buttonu11863 {
        height: 41px;
        padding-bottom: 11px;
        margin-left: 127px;
    }

    #buttonu8154.ButtonSelected,#buttonu11863:hover {
        margin-left: 127px;
        height: 41px;
    }

    #buttonu11863.ButtonSelected {
        margin-left: 127px;
        height: 41px;
    }

    #u11864-4 {
        width: 100px;
        min-height: 20px;
        margin-top: 21px;
        left: 8px;
    }

    #buttonu8154.ButtonSelected #u8155-4,#buttonu11863:hover #u11864-4 {
        margin-top: 21px;
        min-height: 20px;
        width: 100px;
    }

    #buttonu11874 {
        margin-left: 127px;
        margin-top: 20px;
    }

    #buttonu11874:hover {
        margin-left: 127px;
        margin-top: 20px;
    }

    #buttonu11874.ButtonSelected {
        margin-left: 127px;
        margin-top: 20px;
    }

    #u11875-4 {
        width: 100px;
        min-height: 20px;
        margin-top: 21px;
        left: 8px;
    }

    #buttonu11863.ButtonSelected #u11864-4,#buttonu11874:hover #u11875-4 {
        margin-top: 21px;
        min-height: 20px;
        width: 100px;
    }

    #buttonu11874.ButtonSelected #u11875-4 {
        margin-top: 21px;
        min-height: 20px;
        width: 100px;
    }

    #u11851-4 {
        width: 189px;
        margin-top: 28px;
    }

    #u11851-4:hover {
        margin-top: 28px;
        width: 189px;
    }

    #buttonu12569 {
        height: 43px;
        padding-bottom: 9px;
        margin-left: 28px;
        margin-top: 7px;
    }

    #buttonu12569:hover {
        margin-left: 28px;
        margin-top: 7px;
        height: 43px;
    }

    #buttonu12569.ButtonSelected {
        margin-left: 28px;
        margin-top: 7px;
        height: 43px;
    }

    #u12570-4 {
        width: 93px;
        min-height: 22px;
        margin-top: 15px;
        left: 12px;
    }

    #buttonu12569:hover #u12570-4 {
        margin-top: 15px;
        min-height: 22px;
        width: 93px;
    }

    #buttonu12569.ButtonSelected #u12570-4 {
        margin-top: 15px;
        min-height: 22px;
        width: 93px;
    }

    #u12181-6 {
        width: 935px;
        min-height: 62px;
        margin-left: 132px;
        margin-top: 46px;
    }

    #u12181-6:hover {
        margin-left: 132px;
        margin-top: 46px;
        min-height: 62px;
        width: 935px;
    }

    #u11584 {
        margin-left: 133px;
        margin-top: 86px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 933px);
    }

    #u11276 {
        min-height: 82px;
    }

    #u11276_align_to_page {
        width: 975px;
        left: -113px;
    }

    #u11598 {
        z-index: 4;
        width: 773px;
        height: 58px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        position: relative;
        margin-right: -10000px;
        margin-top: 24px;
        left: 214px;
        background: transparent url("../images/footer-contacto.svg?crc=4190747976") no-repeat center bottom;
        background-size: 776px 40px;
    }

    .nosvg #u11598 {
        background-image: url('../images/footer-contacto_poster_u12327.png?crc=28223605');
    }

    #u11276-bw {
        min-height: 82px;
        margin-top: -82px;
    }

    body {
        min-width: 975px;
    }
}

@media (max-width: 975px) {
    #muse_css_mq {
        background-color:#0003cf;
    }

    #bp_975.active {
        display: block;
    }

    #page {
        width: 400px;
    }

    #pu3572 {
        margin-right: -10000px;
        margin-left: -288px;
    }

    #u3572_align_to_page {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 400px;
        left: -288px;
    }

    #u11214 {
        z-index: 68;
        width: 400px;
        height: 143px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        position: relative;
        margin-right: -10000px;
        left: 287px;
        background: transparent url("../images/header-gestion-agenda.svg?crc=4160934606") no-repeat center center;
        background-size: contain;
    }

    .nosvg #u11214 {
        background-image: url('../images/header-gestion-agenda_poster_u12450.png?crc=123864251');
    }

    #u3572,#u3572-bw {
        min-height: 143px;
    }

    #u11701 {
        z-index: 12;
        width: 316px;
        height: 99px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        margin-left: 329px;
        margin-top: 15px;
        position: relative;
        background: transparent url("../images/titulo-cuerpo-mobile.svg?crc=3850225305") no-repeat center center;
        background-size: cover;
    }

    .nosvg #u11701 {
        background-image: url('../images/titulo-cuerpo-mobile_poster_u11705.png?crc=329859238');
    }

    #u12037 {
        margin-left: 299px;
        margin-top: 16px;
        padding: 164px 17px 37px 242px;
    }

    #buttonu12379 {
        height: 40px;
        padding-bottom: 12px;
    }

    #buttonu12379:hover {
        height: 40px;
    }

    #buttonu12379.ButtonSelected {
        height: 40px;
    }

    #u12380-4 {
        width: 88px;
        min-height: 21px;
        margin-top: 19px;
        left: 14px;
    }

    #buttonu12379:hover #u12380-4 {
        margin-top: 19px;
        min-height: 21px;
        width: 88px;
    }

    #buttonu12379.ButtonSelected #u12380-4 {
        margin-top: 19px;
        min-height: 21px;
        width: 88px;
    }

    #buttonu12092 {
        margin-top: 13px;
    }

    #buttonu12092:hover {
        margin-top: 13px;
    }

    #buttonu12092.ButtonSelected {
        margin-top: 13px;
    }

    #u12093-4 {
        width: 87px;
        min-height: 23px;
        left: 16px;
    }

    #buttonu12092:hover #u12093-4 {
        min-height: 23px;
        width: 87px;
    }

    #buttonu12092.ButtonSelected #u12093-4 {
        min-height: 23px;
        width: 87px;
    }

    #buttonu12401 {
        height: 43px;
        padding-bottom: 9px;
        margin-top: 87px;
    }

    #buttonu12401:hover {
        margin-top: 87px;
        height: 43px;
    }

    #buttonu12401.ButtonSelected {
        margin-top: 87px;
        height: 43px;
    }

    #u12402-4 {
        width: 88px;
        min-height: 23px;
        margin-top: 20px;
        left: 14px;
    }

    #buttonu12401:hover #u12402-4 {
        margin-top: 20px;
        min-height: 23px;
        width: 88px;
    }

    #buttonu12401.ButtonSelected #u12402-4 {
        margin-top: 20px;
        min-height: 23px;
        width: 88px;
    }

    #u11388 {
        margin-left: 299px;
        margin-top: 15px;
        padding: 153px 17px 20.14999999999975px 242px;
    }

    #buttonu12580 {
        height: 43px;
        padding-bottom: 9px;
    }

    #buttonu12580:hover {
        height: 43px;
    }

    #buttonu12580.ButtonSelected {
        height: 43px;
    }

    #u12581-4 {
        width: 90px;
        min-height: 23px;
        margin-top: 20px;
        left: 14px;
    }

    #buttonu12580:hover #u12581-4 {
        margin-top: 20px;
        min-height: 23px;
        width: 90px;
    }

    #buttonu12580.ButtonSelected #u12581-4 {
        margin-top: 20px;
        min-height: 23px;
        width: 90px;
    }

    #buttonu12508 {
        margin-top: 52px;
    }

    #buttonu12508:hover {
        margin-top: 52px;
    }

    #buttonu12508.ButtonSelected {
        margin-top: 52px;
    }

    #buttonu12537 {
        margin-top: 12px;
    }

    #buttonu12537:hover {
        margin-top: 12px;
    }

    #buttonu12537.ButtonSelected {
        margin-top: 12px;
    }

    #buttonu12599 {
        height: 43px;
        padding-bottom: 9px;
        margin-top: 12px;
    }

    #buttonu12599:hover {
        margin-top: 12px;
        height: 43px;
    }

    #buttonu12599.ButtonSelected {
        margin-top: 12px;
        height: 43px;
    }

    #u12600-4 {
        width: 81px;
        min-height: 23px;
        margin-top: 20px;
        left: 18px;
    }

    #buttonu12599:hover #u12600-4 {
        margin-top: 20px;
        min-height: 23px;
        width: 81px;
    }

    #buttonu12599.ButtonSelected #u12600-4 {
        margin-top: 20px;
        min-height: 23px;
        width: 81px;
    }

    #u11326 {
        padding-bottom: 16px;
        margin-left: 299px;
        margin-top: 15px;
    }

    #u11885 {
        width: 26px;
        height: 24px;
        margin-top: 351px;
        left: 76px;
    }

    #pbuttonu8154 {
        margin-top: 129px;
        margin-left: 111px;
    }

    #buttonu8154 {
        height: 43px;
        padding-bottom: 9px;
        margin-left: 131px;
    }

    #buttonu8154:hover {
        margin-left: 131px;
        height: 43px;
    }

    #u8155-4 {
        width: 87px;
        min-height: 23px;
        margin-top: 20px;
        left: 13px;
    }

    #buttonu8154:hover #u8155-4 {
        margin-top: 20px;
        min-height: 23px;
        width: 87px;
    }

    #buttonu8154.ButtonSelected #u8155-4 {
        margin-top: 20px;
        min-height: 23px;
        width: 87px;
    }

    #buttonu11863 {
        height: 43px;
        padding-bottom: 9px;
        margin-left: 131px;
    }

    #buttonu8154.ButtonSelected,#buttonu11863:hover {
        margin-left: 131px;
        height: 43px;
    }

    #buttonu11863.ButtonSelected {
        margin-left: 131px;
        height: 43px;
    }

    #u11864-4 {
        width: 64px;
        min-height: 23px;
        margin-top: 20px;
        left: 27px;
    }

    #buttonu11863:hover #u11864-4 {
        margin-top: 20px;
        min-height: 23px;
        width: 64px;
    }

    #buttonu11863.ButtonSelected #u11864-4 {
        margin-top: 20px;
        min-height: 23px;
        width: 64px;
    }

    #buttonu11874 {
        margin-left: 131px;
        margin-top: 21px;
    }

    #buttonu11874:hover {
        margin-left: 131px;
        margin-top: 21px;
    }

    #buttonu11874.ButtonSelected {
        margin-left: 131px;
        margin-top: 21px;
    }

    #u11875-4 {
        width: 77px;
        min-height: 23px;
        margin-top: 18px;
        left: 20px;
    }

    #buttonu11874:hover #u11875-4 {
        margin-top: 18px;
        min-height: 23px;
        width: 77px;
    }

    #buttonu11874.ButtonSelected #u11875-4 {
        margin-top: 18px;
        min-height: 23px;
        width: 77px;
    }

    #u11851-4 {
        width: 188px;
        margin-top: 31px;
    }

    #u11851-4:hover {
        margin-top: 31px;
        width: 188px;
    }

    #buttonu12569 {
        height: 46px;
        padding-bottom: 6px;
        margin-left: 18px;
        margin-top: 12px;
    }

    #buttonu12569:hover {
        margin-left: 18px;
        margin-top: 12px;
        height: 46px;
    }

    #buttonu12569.ButtonSelected {
        margin-left: 18px;
        margin-top: 12px;
        height: 46px;
    }

    #u12570-4 {
        width: 71px;
        min-height: 33px;
        margin-top: 13px;
        left: 24px;
    }

    #buttonu12569:hover #u12570-4 {
        margin-top: 13px;
        min-height: 33px;
        width: 71px;
    }

    #buttonu12569.ButtonSelected #u12570-4 {
        margin-top: 13px;
        min-height: 33px;
        width: 71px;
    }

    #u12181-6 {
        width: 350px;
        min-height: 97px;
        margin-left: 312px;
        margin-top: 42px;
    }

    #u12181-6:hover {
        margin-left: 312px;
        margin-top: 42px;
        min-height: 97px;
        width: 350px;
    }

    #u11584 {
        margin-left: 310px;
        margin-top: 114px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 1967px);
    }

    #u11276 {
        min-height: 114px;
    }

    #u11276_align_to_page {
        width: 400px;
        left: -288px;
    }

    #u11661 {
        z-index: 4;
        width: 350px;
        height: 94px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        position: relative;
        margin-right: -10000px;
        margin-top: 20px;
        left: 312px;
        background: transparent url("../images/footer-contacto-mobile.svg?crc=437209504") no-repeat center center;
        background-size: cover;
    }

    .nosvg #u11661 {
        background-image: url('../images/footer-contacto-mobile_poster_u12335.png?crc=214027084');
    }

    #u11276-bw {
        min-height: 114px;
        margin-top: -114px;
    }

    body {
        overflow-x: hidden;
        min-width: 400px;
    }
}
